@font-face {
  font-family: "Poppins-R" ;
  src: url("../font/Poppins-R.ttf") ;
}

@font-face {
  font-family: "Poppins-M";
  src: url("../font/Poppins-M.ttf");
}

@font-face {
  font-family: "Poppins-B";
  src: url("../font/Poppins-B.ttf");
}

@font-face {
  font-family: "Poppins-EB";
  src: url("../font/Poppins-B.ttf");
}

* {
  box-sizing: border-box ;
  font-family: "Poppins-R" ;
  font-size: 16px ;
}

body {
  margin: 0 ;
  background-color: hsl(0,100%,74%) ;
  background-image: url("../images/bg-intro-mobile.png") ;
  background-size: 100% ;
}

.container {
  display: flex ;
  flex-direction: column ;
}

.container .learn {
  width: 90% ;
  margin: 20px auto ;
  text-align: center ;
  color: #FFF ;
}
.container .learn h1 {
  font-weight: 700 ;
  width: 90% ;
  margin: 14px auto ;
  font-size: 25px ;
}
.container .learn p {
  font-size: 15px ;
  line-height: 1.4 ;
  opacity: .9 ;
}
.container .form-content {
  width: 90% ;
  margin: 20px auto ;
}
.container .form-content > div:first-of-type {
  text-align: center ;
  padding: 10px 15px ;
  background-color: hsl(248, 32%, 49%) ;
  margin: 15px auto ;
  color: #FFF ;
  border-radius: 6px ;
  box-shadow: 0 6px 0 0 rgba(0,0,0,0.1) ;
}
.container .form-content > div:first-of-type p , .container .form-content > div:first-of-type p span {
  font-size: 15px ;
}
.container .form-content > div:first-of-type p {
  margin: 0 auto ;
  width: 70% ;
  padding: 5px ;
  color: #DCDCDC ;
}
.container .form-content > div:first-of-type p span {
  font-weight: bolder ;
  margin-right: 10px ;
  color: #FFF ;
}
.container .form-content > div:last-of-type {
  border-radius: 6px ;
  padding: 20px ;
  background-color: #FFF ;
  box-shadow: 0 6px 0 0 rgba(0,0,0,0.1) ;
}
.container .form-content > div:last-of-type form input ,
.container .form-content > div:last-of-type form button {
  padding: 10px ;
  display: block;
  width: 100%;
  font-size: 14px ;
  border: 1px solid #DCDCDC ;
  border-radius: 4px ;
}
.container .form-content > div:last-of-type form input {
  padding-right: 30px ;
}
.container .form-content > div:last-of-type form div span {
  visibility: hidden ;
  display: block ;
  margin: 5px 0 ;
  color: #FF1E1E ;
  font-size: 11px ;
  text-align: right ;
  position: relative ;
}
.container .form-content > div:last-of-type form div span:after {
  content: url("../images/icon-error.svg") ;
  width: 10% ;
  position: absolute ;
  top: -228.5% ;
  right: 5px ;
}
.container .form-content > div:last-of-type form div span.error {
  visibility: visible ;
}
.container .form-content > div:last-of-type form input:focus {
  outline-color: hsl(248, 32%, 49%) ;
}
.container .form-content>div:last-of-type form input::placeholder {
  color: #888 ;
  letter-spacing: 1px ;
  font-size: 14px ;
  font-weight: bolder ;
}

.container .form-content > div:last-of-type form button {
  text-transform: uppercase ;
  padding: 15px 10px ;
  background-color: hsl(154,59%,51%) ;
  font-size: 15px ;
  letter-spacing: 1px ;
  font-weight: 600 ;
  border: none ;
  color: #FFF ;
  box-shadow: 0 3px 0 0 hsl(154,59%,41%);
}
.container .form-content > div:last-of-type form button:hover {
  opacity: .6 ;
}
.container .form-content > div:last-of-type > p , .container .form-content > div:last-of-type > p span {
  font-size: 11px ;
  text-align: center ;
}
.container .form-content > div:last-of-type > p {
  width: 80% ;
  margin: 10px auto 0 ;
  color: hsl(246, 25%, 77%) ;
}
.container .form-content > div:last-of-type > p span {
  color: hsl(0,100%,70%) ;
  font-weight: bold ;
}
footer {
  width: 95% ;
  margin: 10px auto ;
}
.attribution {
  font-size: 12px ;
  text-align: center;
  font-weight: bold ;
  color: hsl(249, 10%, 26%) ;
}
.attribution a {
  font-size: 12px ;
  color: hsl(249, 10%, 26%) ;
}

@media (min-width: 900px) {
  body {
    background-image: url("../images/bg-intro-desktop.png") ;
  }
  .container {
    width: 88% ;
    margin: auto ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: space-between ;
    align-items: center ;
  }
  .container .learn {
    width: 40% ;
    text-align: left ;
  }
  .container .learn h1 {
    margin-left: 0 ;
    font-size: 35px ;
    font-weight: bolder ;
  }
  .container .learn p {
    font-size: 16px ;
  }
  .container .form-content {
    width: 48% ;
  }
  .container .form-content > div:last-of-type form button {
    padding: 10px ;
  }
  .container .form-content > div:first-of-type p {
    width: 90% ;
    font-size: 14px ;
  }
  .container .form-content > div:first-of-type p span {
    font-size: 14px ;
    margin: 0 ;
  }
  .container .form-content > div:last-of-type > p {
    width: 100% ;
    text-align: left ;
  }
}